* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Shadows Into Light', cursive;
  }
  
  body {
    max-width: 100%;
    background-color:  #0984e3;
    margin: 20px;
    align-items: center;
  }

  #cabeçalho{
    max-width: 100%;
    margin: 0;
  }

  

  #buscar{
    background-color: aliceblue;
    margin: 0;
    padding: 5px;
    border-radius:5%;
    font-family: Arial, Helvetica, sans-serif;
  }

  #digis{
    display: flex;
    max-width: 99%;
    margin-top: 50px;
  }

  #demo {
    display: inline-block;
    max-width: 70%;
  }

  #digi{
    background-color: #e1b12c;
    padding: 1.5rem;
    margin: 0.5rem;
    border-radius: 5%;
    max-width: 20%;
    display: inline-block;
    justify-content: baseline;
    align-items: center;
    text-align: center;
    color: blue;
    font-size: 20px;
  }

  #card{
    background-color: #74b9ff;
    max-width: 30%;
    max-height: 30rem;
    align-items: center;
    text-align: center;
    margin: 0.5rem;
    padding: 0;
    border-radius: 5%;
  }

  h2{
    font-size: 40px;
  }

  h4{
    font-size: 30px;
  }

  /* .cardInicial{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    align-items:baseline;
    text-align: center;
    margin-top: 50px;
  } */

  img{
    max-width: 95%;
    height: 70%;
    margin-top: 0.5rem;
  }
  
  .title {
    margin: 2rem 0 1rem 0;
    font-size: 2.5rem;
    color: plum;
    text-align: center;
  }
  
  .description{
    font-size: 1.5rem;
    color: aliceblue;
    font-weight: 600;
    align-self: flex-start;
    text-align: justify;
  }

  .director, .producer, .year{
    font-size: 1.5rem;
    color: plum;
    font-weight: 600;
    align-self: flex-start;
    text-align: justify;
  }

  .film_banner{
    width:100%;
    height:60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .film {
    display: inline-block;
    justify-content:baseline;
    align-items:baseline;
    max-width: 20%;
    min-height: 100vh;
    margin:20px;
    padding: 15px;
    min-height: 100vh;
    box-shadow: 2px 4px 10px #b2bec3
  }

  @media(max-width: 910px){
    .film{
      max-width: 40%;
    }
  }

  @media(max-width:900px){
    h1{
      font-size: 4rem;
    }
  }

  @media(max-width: 550px){
    .film{
      max-width: 80%;
    }
  }

  @media(max-width:476px){
    .cabeçalho{
      display: flex;
    }

    .movie{
      margin: 1px;
    }

    h1{
      font-size: 2rem;
      margin: 1px;
    }
  }


  